<h1>Editing Preferences</h1>

<%= render 'form', preferences: @preferences %>

<%= link_to 'Show', user_preferences_path(@user, @preferences) %> |
<%= link_to 'Back', user_preferences_path(@user, @preferences) %>
