<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar transparent navbar-default navbar-fixed-top">
  <div class="container-fluid">
        <a class="navbar-brand" href="#">ROOMIE</a>
        <%= render 'layouts/navigation_links' %>
  </div><!-- /.container-fluid -->
</nav>
