<div id="jumbo1" class="jumbotron">
<p id="notice"><%= notice %></p>

<p>
  <strong>User id 1:</strong>
  <%= @match.user_id_1 %>
</p>

<p>
  <strong>User id 2:</strong>
  <%= @match.user_id_2 %>
</p>

<p>
  <strong>Percent Match:</strong>
  <%= @match.percent_match %>
</p>
</div>